{{~#defineBlock "TagPage"~}}
    {{~#defineElement "name"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "relatedContent"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        <div class="{{blockName}}" itemprop="author" itemscope itemtype="http://schema.org/Taxon"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "name"}}
                {{element "relatedContent"}}
                {{element "sharebar"}}
                {{element "comments"}}
            {{/defineBlockBody}}
        </div>
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
