{{~#defineBlock "PersonPage" extend="model/page/Main"~}}
    {{~#defineElement "image"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "name"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "position"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "email"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "website"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "biography"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "relatedContent"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        <div class="{{blockName}}" itemprop="author" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "image"}}
                {{element "name"}}
                {{element "position"}}
                {{element "email"}}
                {{element "website"}}
                {{element "biography"}}
                {{element "relatedContent"}}
                {{element "sharebar"}}
                {{element "comments"}}
            {{/defineBlockBody}}
        </div>
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
