{{~#defineBlock "Form"~}}

    {{~#defineElement "inputs"~}}
        <div class="{{elementName}}">
            {{#each this}}
                {{this}}
            {{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineElement "submitLabel"~}}
        <div class="{{elementName}}"><input type="submit" value="{{this}}"></div>
    {{~/defineElement~}}

    {{~#defineElement "successMessage"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "errorMessage"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <form class="{{blockName}}" action="{{action}}" method="{{method}}">
                {{element "inputs"}}
                {{element "successMessage"}}
                {{element "errorMessage"}}
            </form>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
