{{~#defineBlock "FormModule"~}}

    {{~#defineElement "title"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "inputs"~}}
        <div class="{{elementName}}">
            {{#each this}}{{this}}{{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineElement "submit" noWith=true~}}
        <div class="row">
            <button type="submit" aria-label="Submit form">{{#if submitText}}{{submitText}}{{else}}Submit{{/if}}</button>
        </div>
    {{~/defineElement~}}

    {{~#defineElement "successMessage"~}}
        <div class="{{elementName}}" role="status" aria-live="polite">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "errorMessage"~}}
        <div class="{{elementName}}" role="alert" aria-live="assertive">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <form class="{{blockName}}" action="{{action}}" method="{{method}}" data-bsp-form-module>
                {{element "title"}}
                {{element "inputs"}}
                {{element "submit"}}
                {{element "successMessage"}}
                {{element "errorMessage"}}
            </form>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
