<form action="{{action}}" method="{{method}}">
    {{#each inputs}}
        {{this}}
    {{/each}}
    <input type="submit" value="Submit">
    {{#with successMessage}}
        <div class="SuccessMessage">{{this}}</div>
    {{/with}}
    {{#with errorMessage}}
        <div class="ErrorMessage">{{this}}</div>
    {{/with}}
</form>