{{~#defineBlock "QuoteModule"~}}
    {{~#defineElement "image"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "quote"~}}
        <blockquote class="{{elementName}}">{{this}}</blockquote>
    {{~/defineElement~}}

    {{~#defineElement "attribution"~}}
        <figcaption class="{{elementName}}"> – {{this}}</figcaption>
    {{~/defineElement~}}

    <div class="{{blockName}}" data-has-image="{{#if image~}}true{{else}}false{{/if}}">
        {{element "image"}}
        <div class="{{blockName}}-container">
            {{element "quote"}}
            {{element "attribution"}}
        </div>
    </div>
{{~/defineBlock~}}
