{{~#defineBlock "Quote"~}}
    {{~#defineElement "image"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "attribution"~}}
        <div class="{{elementName}}">– {{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "quote"~}}
        <blockquote class="{{elementName}}">{{this}}</blockquote>
    {{~/defineElement~}}

    <div class="{{blockName}}" data-has-image="{{#if image~}}true{{else}}false{{/if}}">
        <div class="{{blockName}}-container">
            {{element "quote"}}
            <div class="{{blockName}}-info">
                {{element "image"}}
                {{element "attribution"}}
            </div>
        </div>
    </div>
{{~/defineBlock~}}