{{#with headline}}
    <div class="headline">
        {{this}}
    </div>
{{/with}}
{{#with lead}}
    <div class="lead">
        {{this}}
    </div>
{{/with}}
{{#with subHeadline}}
    <div class="subHeadline">
        {{this}}
    </div>
{{/with}}
{{#with publishDate}}
    <div class="publishDate">
        {{this}}
    </div>
{{/with}}
{{#with byline}}
    <div class="byline">
        {{this}}
    </div>
{{/with}}
{{#with body}}
    <div class="body">
        {{this}}
    </div>
{{/with}}
{{#with tags}}
    <div class="tags">
        {{#each this}}
            {{this}}
        {{/each}}
    </div>
{{/with}}
