{{~#defineBlock "SelectInput"~}}
    <div class="row">
        <div class="one-quarter-width">
            <label for="{{name}}">{{label}}</label>
        </div>
        <div class="three-quarter-width">
            <select name="{{name}}" {{#if multiple}}multiple{{/if}} {{#if required}}required{{/if}}>
                {{#with placeholder}}
                    <option value="" disabled selected>{{this}}</option>
                {{/with}}
                {{#each options}}
                    {{this}}
                {{/each}}
            </select>
        </div>
    </div>
{{~/defineBlock~}}
