{{~#defineBlock "SelectInput"~}}
    <div class="{{blockName}}">
        <label for="{{name}}">{{label}}</label>
        <select name="{{name}}" {{#if multiple}}multiple{{/if}} {{#if required}}required{{/if}}>
            {{#with placeholder}}
                <option value="" disabled selected>{{this}}</option>
            {{/with}}
            {{#each options}}
                {{this}}
            {{/each}}
        </select>
    </div>
{{~/defineBlock~}}
