{{~#defineBlock "TextInput"~}}
    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <div class="{{blockName}}">
                <label for="{{name}}">{{label}}</label>
                <input type="{{type}}" name="{{name}}"
                       {{#with regex}}pattern="{{this}}"{{/with}}
                    {{#with placeholder}}placeholder="{{this}}"{{/with}}
                    {{#if required}}required{{/if}}>
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}