{{~#defineBlock "PageNavigation"~}}

    {{~#defineElement "items"~}}
        <ul class="{{elementName}} {{#if ../dropdown}}dropdownContent{{/if}}">
            {{#each this}}
                <li class="{{elementName}}-item {{#if dropdown}}dropdown{{/if}} {{#if active}}active{{/if}}">{{this}}</li>
            {{/each}}
        </ul>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            {{#if ctaUrl}}<a href="{{ctaUrl}}">{{ctaText}}</a>{{else}}<span>{{ctaText}}</span>{{/if}}
            {{element "items"}}
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
