{{~#defineBlock "FaqQuestion"~}}

    {{~#defineElement "question"~}}
        <button class="{{elementName}}" type="button" aria-expanded="false" aria-controls="faq-answer-{{@index}}">{{this}}</button>
    {{~/defineElement~}}

    {{~#defineElement "answer"~}}
        <div class="{{elementName}}" id="faq-answer-{{@index}}" aria-hidden="true">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <div class="{{blockName}}">
                {{element "question"}}
                {{element "answer"}}
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
