{{~#defineBlock "FaqQuestion"~}}
    {{~#defineElement "question"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "answer"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    <div class="{{blockName}}">
        {{element "question"}}
        {{element "answer"}}
    </div>
{{~/defineBlock~}}
