{{~#defineBlock "Navigation"~}}

    {{~#defineElement "previousPage"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "nextPage"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <div class="{{blockName}}">
                {{element "previousPage"}}
                {{element "nextPage"}}
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
