{{~#defineBlock "Carousel"~}}

    {{~#defineElement "title"~}}
        <h3>{{this}}</h3>
        <br/>
    {{~/defineElement~}}

    {{~#defineElement "slides"~}}
        <div class="{{elementName}}" data-slides>
            {{#each this}}{{this}}{{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            {{element "title"}}
            <div class="{{blockName}}" data-flickity-custom-counter="true">
                {{element "slides"}}
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
