{{#defineBlock "Slide" ~}}

    {{#defineElement "media" ~}}
        <div class="{{elementName}}">
            <div class="{{elementName}}-icon">
                <svg>
                    <use xlink:href="#icon-24-expand"></use>
                </svg>
            </div>
            {{this}}
        </div>
    {{~/defineElement}}

    {{#defineElement "title" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineElement "description" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineElement "attribution" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineBlockContainer ~}}
        {{#defineBlockBody ~}}
            <div class="{{blockName}}">
                {{element "media"}}
                <div class="{{blockName}}-info">
                    {{element "title"}}
                    {{element "description"}}
                    {{element "attribution"}}
                </div>
            </div>
        {{~/defineBlockBody}}
    {{~/defineBlockContainer}}
{{~/defineBlock}}
