{{#with title ~}}<title>{{this}}</title>{{~/with}}
{{#each linkElements ~}}{{this}}{{~/each}}
{{#each metaElements ~}}{{this}}{{~/each}}
{{#each scriptElements ~}}{{this}}{{~/each}}
{{#each styleElements ~}}{{this}}{{~/each}}
{{#each extraItems ~}}{{this}}{{~/each}}
