{{#defineBlock "Main" ~}}

    {{#defineElement "tags" ~}}
        <div class="{{elementName}}">
            {{#each this ~}}{{this}}{{~/each}}
        </div>
    {{~/defineElement}}

    {{#defineElement "sharebar" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineElement "comments" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}
{{~/defineBlock}}
