{{#defineBlock "Main" ~}}
    {{#defineElement "breadcrumbs" ~}}
        <div class="{{elementName}}">
            {{#each this ~}}{{this}}<div class="breadcrumbs-divider"><svg><use xlink:href="#icon-caret-right"></use></svg></div>{{~/each}}
        </div>
    {{~/defineElement}}

    {{#defineElement "tags" ~}}
        <div class="{{elementName}}">
            {{#each this ~}}{{this}}{{~/each}}
        </div>
    {{~/defineElement}}

    {{#defineElement "sharebar" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineElement "comments" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}
{{~/defineBlock}}
