{{#defineBlock "Page" ~}}
    {{#defineElement "head" ~}}
        <head>
            {{this}}
        </head>
    {{~/defineElement}}

    {{#defineElement "body" ~}}
        <body class="{{../type}}{{elementName}}">
            {{this}}
        </body>
    {{~/defineElement}}

    {{#defineBlockContainer ~}}
        <!DOCTYPE html>
        <html class="{{type}}" lang="{{#with locale ~}}{{locale}}{{else}}en{{~/with}}">
        {{#defineBlockBody ~}}
            {{element "head"}}
            {{element "body"}}
        {{~/defineBlockBody}}
        </html>
    {{~/defineBlockContainer}}
{{~/defineBlock}}