<!DOCTYPE html>
<html class="{{type}}" lang="{{#with locale}}{{locale}}{{else}}en{{/with}}">
<head>
    {{head}}
</head>
<body class="{{type}}-body">
{{#with header}}
    <div class="header">
        {{this}}
    </div>
{{/with}}
{{#with breadcrumbs}}
    <div class="breadcrumbs">
        {{#each this}}
            {{this}}
            <div class="breadcrumbs-divider">
                <svg>
                    <use xlink:href="#icon-caret-right"></use>
                </svg>
            </div>
        {{/each}}
    </div>
{{/with}}
{{#with content}}
    <div class="content">
        {{this}}
    </div>
{{/with}}
{{#with footer}}
    <div class="footer">
        {{this}}
    </div>
{{/with}}
</body>
</html>

