{{~#defineBlock "Page"~}}
    {{~#defineElement "breadcrumbs"~}}
        <div class="{{elementName}}">
            {{#each this}}{{this}}
                <div class="breadcrumbs-divider">
                    <svg>
                        <use xlink:href="#icon-caret-right"></use>
                    </svg>
                </div>{{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineElement "main"~}}
        <main class="{{elementName}}">
            {{this}}
        </main>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        <!DOCTYPE html>
        <html lang="{{#with locale}}{{locale}}{{else}}en{{/with}}">
        {{#defineBlockBody}}
            {{head}}
            <body>
            {{header}}
            {{above}}
            {{element "breadcrumbs"}}
            {{element "main"}}
            {{aside}}
            {{below}}
            {{footer}}
            </body>
        {{/defineBlockBody}}
        </html>
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
