{{#defineBlock "Page" ~}}
    {{#defineElement "head" ~}}
        <head>
            {{this}}
        </head>
    {{~/defineElement}}

    {{#defineElement "breadcrumbs" ~}}
        <div class="{{elementName}}">
            {{#each this ~}}{{this}}<div class="breadcrumbs-divider"><svg><use xlink:href="#icon-caret-right"></use></svg></div>{{~/each}}
        </div>
    {{~/defineElement}}

    {{#defineElement "body" ~}}
        <body class="{{../type}}{{elementName}}">
            {{this}}
        </body>
    {{~/defineElement}}

    {{#defineBlockContainer ~}}
        <!DOCTYPE html>
        <html class="{{type}}" lang="{{#with locale ~}}{{locale}}{{else}}en{{~/with}}">
        {{#defineBlockBody ~}}
            {{element "head"}}
            {{element "breadcrumbs"}}
            {{element "body"}}
        {{~/defineBlockBody}}
        </html>
    {{~/defineBlockContainer}}
{{~/defineBlock}}