{{~#defineBlock "Page"~}}
    {{~#defineElement "breadcrumbs"~}}
        <div class="{{elementName}}">
            <ul class="{{elementName}}-breadcrumb">
                {{#each this}}
                    <li class="{{elementName}}-breadcrumb-item">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{~/defineElement~}}

    {{~#defineElement "main" noWith=true~}}
        {{above}}
        <main class="{{elementName}}">
            {{main}}
            {{aside}}
        </main>
        {{below}}
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        <!DOCTYPE html>
        <html lang="{{#with locale}}{{locale}}{{else}}en{{/with}}">
        {{#defineBlockBody}}
            {{head}}
            <body>
            {{header}}
            {{element "breadcrumbs"}}
            {{element "main"}}
            {{footer}}
            </body>
        {{/defineBlockBody}}
        </html>
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
