{{~#defineBlock "CalendarModule"~}}

    {{~#defineElement "title"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "description"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "currentMonth"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "prevMonth"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "nextMonth"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{~#defineElement "events"~}}
        <div class="{{elementName}}">
            {{#each this}}{{this}}{{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <div class="{{blockName}}">
                {{element "title"}}
                {{element "description"}}
                <div class="{{blockName}}-navigation">
                    {{element "prevMonth"}}
                    {{element "currentMonth"}}
                    {{element "nextMonth"}}
                </div>
                {{element "events"}}
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
