{{#with name}}
    <div class="name">
        {{this}}
    </div>
{{/with}}
{{#with image}}
    <div class="image">
        {{this}}
    </div>
{{/with}}
{{#with type}}
    <div class="type">
        {{this}}
    </div>
{{/with}}
{{#with location}}
    <div class="location">
        {{this}}
    </div>
{{/with}}
{{#with date}}
    <div class="date">
        {{this}}
    </div>
{{/with}}
{{#with description}}
    <div class="description">
        {{this}}
    </div>
{{/with}}
