{{#defineBlock "Promo" ~}}
    {{#defineElement "title" ~}}
        <div class="{{elementName}}"><h3>{{this}}</h3></div>
    {{~/defineElement}}

    {{#defineElement "description" ~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement}}

    {{#defineElement "cta" ~}}
        <div class="{{elementName}}"><a class="btn" href="{{this}}">{{../ctaText}}</a></div>
    {{~/defineElement}}

    <div class="{{blockName}}">
        <div class="{{blockName}}-media" style="background-image: url({{media.src}})">
            <div class="{{blockName}}-content">
                {{element "title"}}
                {{element "description"}}
                {{element "cta"}}
            </div>
        </div>
    </div>
{{~/defineBlock}}