<div class="promo">
    <div class="promo-media" style="background-image: url({{media.src}})">
        <div class="promo-content">
            {{#if title}}
                <div class="promo-title">
                    <h3>{{title}}</h3>
                </div>
            {{/if}}
            {{#if description}}
                <div class="promo-description">
                    {{description}}
                </div>
            {{/if}}
            {{#if ctaUrl}}
                <div class="promo-cta">
                    <a class="btn" href="{{ctaUrl}}">{{ctaText}}</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>