{{~#defineBlock "PromoModule"~}}
    {{~#defineElement "title"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "media"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "date"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "description"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "cta" noWith=true~}}
        <div class="{{elementName}}"><a class="btn" href="{{ctaUrl}}">{{ctaText}}</a></div>
    {{~/defineElement~}}

    <div class="{{blockName}}">
        <div class="{{blockName}}-content">
            {{element "title"}}
            {{element "media"}}
            {{element "date"}}
            {{element "description"}}
            {{element "cta"}}
        </div>
    </div>
{{~/defineBlock~}}
