{{~#defineBlock "PromoListModule"~}}

    {{~#defineElement "title"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "description"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    {{~#defineElement "items"~}}
        <div class="{{elementName}}" data-list-items>
            {{#each this}}
                <div class="{{elementName}}-item">{{this}}</div>
            {{/each}}
        </div>
    {{~/defineElement~}}

    {{~#defineElement "pagination"~}}
        <div class="{{elementName}}" data-list-pagination>
            {{this}}
        </div>
    {{~/defineElement~}}

    {{~#defineBlockContainer~}}
        {{#defineBlockBody}}
            <div class="{{blockName}}" data-bsp-promo-list-module data-list-module>
                {{element "title"}}
                {{element "description"}}
                {{element "items"}}
                {{element "pagination"}}
            </div>
        {{/defineBlockBody}}
    {{~/defineBlockContainer~}}
{{~/defineBlock~}}
